colorchord2/windows/colorchord.def
colorchord2/colorchord.def
\.idea/

cmake-build-debug/CMakeFiles/clion-log\.txt

cmake-build-debug/CMakeCache\.txt

cmake-build-debug/CMakeFiles/Makefile\.cmake

cmake-build-debug/CMakeFiles/Makefile2

cmake-build-debug/colorchord2/CMakeFiles/colorchord2\.dir/build\.make

cmake-build-debug/colorchord2/Makefile

cmake-build-debug/Makefile
